.limit-content{
	padding: 0px; 
	text-align: right;
}
.limit-content label{
	float: right;
    line-height: 30px;
    margin-right: 10px;
}
.limit-content select{
	float: right;
}

form .required {
	font-weight: bold;
}
form .required label:after{
	color: #EA646D;
	content: '*';
	display:inline;
}
.pt-15{
	padding-top: 15px;
}
.error-message{
	font-size: small !important;
	color: #FF0000 !important;
    font-weight: bold !important;
}
ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus{
	color: #1fb5ad !important;
}
.no-padding{
	padding: 0px !important;
}
.no-padding .icheckbox_minimal{
	float: left;
	margin: 0 10px 0 0;
}
#campi .nav-tabs > li{
	float: none !important;
}
#coordenacao .ms-container{
	/*width: 670px !important;*/
	width: 90% !important;
}
#diferenciais .ms-container{
	/*width: 670px !important;*/
	width: 90% !important;
}

.tagedit-list {
	margin: 0px !important;
	float: none !important;
	height: 34px;
	border: 1px solid #e2e2e4 !important;
    border-radius: 4px;
    width: 100% !important;
}
.tagedit-list li.tagedit-listelement-old {background: #1fb5ad url(../img/disc.png) 4px center no-repeat !important; border: 1px solid #1fb5ad !important; color: #FFF;}
.tagedit-list li.tagedit-listelement-old:hover {background-color: #aeb2b7 !important;}

.btn-success{
	margin-right: 4px;
}

.width_100{
    width: 100px;
}

.width_250{
    width: 250px;
}

.m-bot15{
    margin-bottom: 15px !important;
}

/*REDACTOR*/
.redactor-editor .title-upper{
	font-weight: 300;
    text-transform: uppercase;
}

.redactor-editor .title-color{
	border-left: 3px solid;
    display: inline-block;
    font-size: 26px;
    font-weight: 300;
    margin: 40px 0;
    padding: 10px 15px;
}
.redactor-editor .title-red{
	border-color: #cd363b;
}

.redactor-editor .time-line {
    float: left;
    list-style: outside none none;
    padding-bottom: 50px;
}
.redactor-editor .time-line li {
    float: left;
}

.redactor-editor .time-line .dt-time-line {
    display: inline-block;
    float: left;
    font-size: 22px;
    margin-right: 13px;
    margin-top: 28px;
}
.redactor-editor .time-line .time-line-icon{
	background-image: url("/assets/images/time-line.png");
    background-repeat: repeat-y;
    content: "";
    display: block;
    float: left;
    height: 115px;
    width: 29px;
}

.redactor-editor .ul-style{
	list-style-image: url("/assets/images/icons/icon-list.jpg");
}

.redactor-editor .prograd-equipe {
    background-color: #F5F5F5;
    float: left;
    width: 100%;
    padding: 6% 5%;
}

.redactor-editor .email-docente p {
    margin-bottom: -6px;
    margin-top: 18px;
    color: #333333;
}

.redactor-editor .email-docente a {
    color: #CC3439;
    text-decoration: underline;
}

.redactor-editor .prograd .panel-default>.panel-heading {
    border-left: 4px solid #CD363B;
}

.redactor-editor .prograd .panel-title a {
    font-size: 18px;
}
.redactor-editor .prograd .tab-content .ul-style {
    line-height: 0;
    margin-top: 6%;
    margin-left: 0;
    padding-left: 3%;
    margin-bottom: 10%;
}
.redactor-editor .prograd .ul-style a {
    text-decoration: none;
    color: #333;
}
.redactor-editor .prograd .tab-content .ul-style a:hover {
    color: #9E1924;
}
.redactor-editor .prograd-equipe {
    background-color: #F5F5F5;
    float: left;
    width: 100%;
    padding: 6% 5%;
}
.redactor-editor .pdf-corpo {
    width: 400px;
    margin-bottom: 49px;
    padding-bottom: 10px;
}
.redactor-editor .pdf-corpo p {
    margin-top: 20px;
}
.redactor-editor .laurete a.red:hover {
    color: #9E1924;
}
.redactor-editor .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}
.redactor-editor .panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0!important;
    padding: 0;
    border-left: 4px solid #AAAAAA;    
}
.redactor-editor .panel-group .panel+.panel {
    margin-top: 0;
    border-top: 0;
}
.redactor-editor .panel-title a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    display: inline-block;
    padding: 3%;
    color: inherit;
}
.redactor-editor .collapse {
	display: block;
}
.redactor-editor .seta-collapse {
    color: #c9392a;
    float: right;
    font-weight: bold;
}
.redactor-editor .glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}
.redactor-editor .glyphicon-menu-down:before{
	content:"\e259"
}
.redactor-editor .my-pdf-big{
	background-color: #feeeee;
    float: left;
    margin-bottom: 15px;
    padding: 8px 20px;
    width: 100%;
}

.redactor-editor .my-pdf-big img{
	float: left;
    margin-right: 10px;
    width: 30px;
}

.redactor-editor .my-pdf-big p a {
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 300;
    margin-top: 10px;
    max-width: 400px;
}

.redactor-editor .link-my-pdf-big{
    background-color: #feeeee;
    background-image: url("/assets/images/icons/icon-pdf.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 300;
    height: 67px;
    line-height: 48px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 8px 20px 8px 60px;
    width: 100%;
}

.redactor-editor .link-my-pdf-big a{
    color: #333333;
}

.redactor-editor .link-my-doc-big{
    background-color: #84C1FF;
    background-image: url("/assets/images/icons/icon-doc.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 300;
    height: 67px;
    line-height: 48px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 8px 20px 8px 60px;
    width: 100%;
}

.redactor-editor .link-my-doc-big a{
    color: #333333;
}

.redactor-editor .link-my-xls-big{
    background-color: #B1F8F0;
    background-image: url("/assets/images/icons/icon-xls.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 30px auto;
    color: #333333;
    float: left;
    font-size: 15px;
    font-weight: 300;
    height: 67px;
    line-height: 48px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 8px 20px 8px 60px;
    width: 100%;
}

.redactor-editor .link-my-xls-big a{
    color: #333333;
}

.redactor-editor .red {
    color: #cc3439;
}

.redactor-editor ol li span {
	color: #333;
    font-weight: 400;
}

.redactor-editor .row-table-red {
    background-color: #cd363b;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}

.redactor-editor .btn-bibli {
    background: #cd363b none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    margin: 11px 6px;
    padding: 10px 6px;
    text-align: center;
    text-transform: uppercase;
    width: 174px;
}

.redactor-editor .gray-title a {
    text-decoration: none;
    background-color: #E4E4E4;
    color: #666666;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px 6px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.redactor-editor .gray-title a:hover {
    background-color: #ccc;
    font-weight: 600;
}

.no-border .form-control{
    border: none;
    padding: 0px;
}

.checkbox .icheckbox_minimal{
    float: left;
    margin-right: 5px;
}

.redactor-editor .gray-black-title {
    background-color: #6B6B6B;
    padding: 4% 6%;
    text-transform: uppercase;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
    font-weight: 300;
    color: #FFFFFF;
}
.redactor-editor .gray-black-title:hover {
    background-color: #888;
}
.redactor-editor .gray-black-title a {
    color: #FFFFFF;
    text-decoration: none;
}
.redactor-editor .gray-black-title a span {
    font-weight: 500;
}

/*HOTSITE*/
.redactor-editor .sidebar .box-vest {
    text-align: center;
    background-color: #CC3C3F;
    border: 1px solid #B82E31;
    border-radius: 14px;
    padding: 20px;
    color: #FFF;
    float: left;
    width: 100%;
}
.redactor-editor .sidebar .box-vest p{
    line-height: initial;
    color: #fff;
    margin-bottom: 14px;
    margin-top: 15px;
}

.redactor-editor .sidebar .box-vest h4{
    font-size: 22px;
    text-transform: uppercase;
}
.redactor-editor .sidebar .box-vest h5{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #FFF;
}
.redactor-editor .sidebar .box-vest div{
    border-top: 1px solid #B82E31;
    width: 100%;
    padding-top: 20px;
    float: left
}
.redactor-editor .btn-black{
    background-color: #000;
    color: #fff;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.redactor-editor .btn-black:hover{
    background-color: #333;
    color: #fff;
}
.redactor-editor .sidebar .box-vest .btn-header{
    color: #FFF;
}
.redactor-editor .sidebar .box-vest .btn-header:hover{
    color: #FFF;
    background-color: #d9534f;
}
.redactor-editor .icon-pdf {
    background-color: #FEEEEE;
    padding: 15px;
    float: left;
    margin: 10px;
    width: 98%;
}
.redactor-editor .icon-pdf img {
    float: left;
}
.redactor-editor .icon-pdf p {
    float: left;
    margin-left: 9px!important;
    margin-top: 5px;
    font-family: Lato;
    width: 80%;
}

.redactor-editor .box-vest {
    text-align: center;
    background-color: #CC3C3F;
    border: 1px solid #B82E31;
    border-radius: 14px;
    padding: 20px;
    color: #FFF;
    float: left;
    width: 100%;
}
.redactor-editor .box-vest p{
    line-height: initial;
    color: #fff;
    margin-bottom: 14px;
    margin-top: 15px;
}

.redactor-editor .box-vest h4{
    font-size: 22px;
    text-transform: uppercase;
}
.redactor-editor .box-vest h5{
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #FFF;
}
.redactor-editor .box-vest div{
    border-top: 1px solid #B82E31;
    width: 100%;
    padding-top: 20px;
    float: left
}

.redactor-editor .btn-header {
    background-color: #7b292c;
    border: medium none;
    font-size: 11px;
    margin-top: 5px;
    padding: 3px 12px;
    color: #fff;
}